
//color cube
$white:#ffffff;
$tuna:#353841;
$sienna:#ed6864;
$light_gray:#bababc;
$jumbo:#78787B;
$golden: #Fcd66c;
$tabasco: #92340f;


//median Cut
$rose:#ebcac5;
$makara:#8d7c6d;
$edward:#a1aba9;
$gray:#8c9aa5;

//Material design
$gray_chateau:#a2abae;
$sambuca: #3d2512;
$thunder:#171216;
$putty:#e9c899;



